<div class="indexes-browse" ng-controller="IndexesCtrl" ng-init="init()">
  <headline title="Storage" subtitle="Browse indexes"></headline>

  <div class="container container-medium">
    <div class="row whitespace-top">
      <div class="col-sm-12">
          <div class="create" style="margin-bottom: 15px">
            <button type="button" class="btn btn-success"  ui-sref="indexes.create" ng-if="canCreateIndex">
              <i class="fa fa-plus"></i> Add index
            </button>
          </div>

          <div class="row" ng-if="indexData.indexes.length !== 0">
              <div class="col-sm-12">
                  <div class="row">
                      <div class="col-sm-12 index-filter">

                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <div class="form-group">
                                      <label for="filter">Indexes filter</label>
                                      <input
                                          id="filter"
                                          type="text"
                                          ng-model="search"
                                          placeholder="Index name"
                                          uib-typeahead="index for index in indexData.indexes | filter:$viewValue"
                                          typeahead-min-length="0"
                                          class="form-control" />
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>

                  <div class="row documents">
                      <div class="col-sm-12 list-indexes">
                          <div id="\{{index}}" class="panel panel-primary dropdown" ng-repeat="index in indexData.indexes | orderBy | filter:search">
                            <div class="panel-body">
                              <div class="col-sm-10 ellipsis">
                                <a ui-sref="collection.browse({index: index})" title="Browse '\{{index}}' collections">
                                  <strong class="index-name" ng-bind="index"></strong>
                                </a>
                              </div>

                              <div class="col-sm-2">
                                <div class="icons">
                                  <span class="fa fa-table" ui-sref="collection.browse({index: index})" title="Browse '\{{index}}' collections"></span>
                                  <cog-options-indexes
                                      index="index"
                                      can-edit="false"
                                      can-delete="canDeleteIndex(index)"
                                      after-delete="afterDelete(index)">
                                  </cog-options-indexes>
                                </div>
                              </div>
                            </div>
                            <!--<div class="panel-heading">
                                <h3 class="panel-title">
                                    <span class="index-name" ng-bind="index" ng-click="browseCollection(index)" title="Browse '\{{index}}' collections"></span>

                                    <span class="pull-right">
                                        <a ui-sref="collection.browse({index: index})" title="Browse '\{{index}}' collections">
                                          <span class="fa fa-table"></span>
                                        </a>
                                        <cog-options-indexes
                                            index="index"
                                            can-edit="false"
                                            can-delete="canDeleteIndex(index)"
                                            after-delete="afterDelete(index)">
                                        </cog-options-indexes>
                                    </span>
                                </h3>
                            </div>-->
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12" ng-if="indexData.indexes.length === 0">
                  <p>There is no indexes in this database</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
